<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myapp.test.dao.FileinfoDao">
	<insert id="insertFile" parameterType="myapp.test.vo.FileinfoDto">
		insert into fileinfo values
(file_seq.nextval, #{name}, #{path}, #{filesize},#{description})
	</insert>
	<select id="fileList" resultType="myapp.test.vo.FileinfoDto">
		select * from fileinfo
	</select>
	<select id="fileOne" parameterType="int" 
			resultType="myapp.test.vo.FileinfoDto">
		select * from fileinfo where fileid = #{fileid}
	</select>
	<delete id="deleteFile" parameterType="int">
		delete from fileinfo where fileid = #{fileid}
	</delete>
</mapper>
